<!DOCTYPE html 
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block css %}
		{% include "stylesheets.html" %}
        {% endblock %}
    </head>

    <body>
    	{% block header %}
		{% endblock %}
		
		<div class="container">
			{%block content %}{% endblock %}
		</div>
		
		{% block footer %}
		{% endblock %}
    </body>
</html>
